/*****************
Admin  
****************/
/*.add-lesson-form label {
  display: block;
  padding: 5px;
}*/
/*********************************
Dashboard Page
***********************************/
.dashboard {
  background-color: #008fa6;
  margin: 0px;
  font-family: Lato; }

.user-content-pane {
  width: 240px;
  /*background-color: rgb(0, 143, 166);*/
  min-height: 1010px;
  float: left;
  margin-top: 40px;
  margin-left: 15px; }

.dashboard-inner-div {
  overflow: hidden;
  background-color: #fff;
  font-style: Lato; }

.user-content-pane h2 {
  color: blue; }

.dashboard-points-container {
  margin-top: 60px; }

.dashboard-points-container h3 {
  font-size: 30px;
  text-align: center;
  font-family: 'Lato';
  margin: 10px; }

.dashboard-points {
  padding: 10px;
  background-color: #008fa6;
  text-align: center;
  font-size: 36pt;
  font-family: 'Lato';
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 2px solid grey;
  margin-left: 60px;
  font-weight: bold; }

.dashboard-lesson-list {
  margin-left: 245px;
  padding: 20px;
  border-left: 1px solid grey; }

.dashboard-module {
  border-top: 2px solid;
  overflow: auto;
  margin: 20px; }

.dashboard-module-title {
  width: 240px;
  float: left; }

.dashboard-module-title a:visited {
  color: #008fa6; }

.dashboard-module-title a {
  text-decoration: none; }

.dashboard-module-lessons {
  margin-left: 290px;
  text-align: left; }

.dashboard-module-lessons .lesson {
  margin: 0px; }

.dashboard-module-lessons .lesson:first-child {
  margin-top: 8px; }

/*style ckeck font for completed lessons*/
i.fa-check {
  color: #33CC00;
  font-size: 20pt;
  position: absolute;
  margin-left: -5px;
  margin-top: -7px; }

/*********************
Home page
*********************/
/******* Hero section *******/
.hero {
  min-height: 32em;
  color: white;
  background: radial-gradient(rgba(0, 143, 166, 0.4), rgba(0, 143, 166, 0.8)), url("../img/bigstock-Happy-student-using-her-laptop-80148530.jpg");
  background-size: cover;
  background-position: center center; }

.hero > div {
  position: relative; }

.banner {
  font-family: 'Lato';
  font-weight: 100;
  margin: auto;
  padding-top: 40px;
  width: 560px;
  text-align: center; }

#motto {
  display: inline-block;
  font-weight: bold;
  font-size: 30pt;
  padding: 0;
  margin: 0 auto; }

#motto-sub {
  display: inline-block;
  padding: 5px;
  margin: 0 auto;
  font-style: italic;
  font-size: 14pt; }

.welcome-msg {
  font-family: Lato;
  font-size: 16pt;
  width: 400px;
  float: right;
  margin-top: 50px;
  margin-right: 60px;
  /*text-shadow: 1px 1px grey;*/ }

/******** Primary Content Panel **********/
.primary-content {
  background-color: #D6E1E7; }

.info-boxes {
  text-align: center;
  background-color: #D6E1E7;
  margin-top: 0px; }

.info {
  display: inline-block;
  width: 290px;
  background-color: white;
  padding: 5px;
  margin: 10px 30px;
  /*box-shadow: 0 0 20px -5px black;*/
  min-height: 200px;
  width: 200px;
  vertical-align: top;
  text-align: center;
  border-radius: 5%; }

.index-points-circle {
  border: 2px solid black;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #008fa6;
  display: inline-block; }

.fa-graduation-cap, .fa-trophy, .fa-university {
  padding: 15px;
  font-size: 20pt; }

/****** footer ******/
footer {
  background-color: #354041;
  height: 100px; }

/****************
Lessons / Topics page
******************/
/***** nav bar *****/
.dashboard-link {
  color: #008fa6 !important;
  font-weight: bold;
  padding-left: 20px;
  font-size: 18px !important; }

.dashboard-link a {
  color: #fff;
  text-decoration: none; }

.topic-links {
  float: right;
  margin-right: 60px;
  margin-top: 15px;
  color: #fff; }

.topic-links a {
  color: #fff;
  font-family: Lato;
  text-decoration: none; }

/****** columns ******/
.col {
  vertical-align: top;
  display: inline-block;
  min-height: 960px;
  background-color: #eee; }

.col2 {
  background-color: #fff; }

.col1, .col3 {
  border-left: 1px solid grey;
  border-right: 1px solid grey; }

/**** nav column *******/
.module-lessons-nav {
  width: 370px;
  background-color: #eee;
  font-family: Lato;
  border-bottom: 2px solid grey; }

.module-lessons-nav h2 {
  border-bottom: 2px solid grey;
  margin: 0 auto;
  padding: 20px; }

/*lesson link*/
.lesson {
  padding: 20px 10px 20px 70px;
  background-color: #eee;
  position: relative; }

.lesson a {
  text-decoration: none; }

/* new (pseudo-)element
as a horizontal line */
.lesson::before {
  content: '';
  display: block;
  background-color: gray;
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 4px; }

/*  i for font-awesome icon */
.lesson i {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-40%);
  width: 20px;
  height: 20px;
  z-index: 1; }

/*circle*/
.lesson::after {
  content: '';
  display: block;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: 3px solid gray; }

.lesson.active {
  background-color: #008fa6; }

.lesson.active a {
  color: #fff; }

.lesson.active a i {
  color: red; }

.lesson.active::before {
  background-color: red; }

.lesson.active::after {
  border: 3px solid red; }

.module-lessons-nav .lesson-link {
  border-top: 2px solid grey;
  margin: 0 auto;
  padding: 20px; }

/*****   Video  ******/
.study-content {
  width: 860px;
  margin-top: 20px; }

/****** Question *******/
.challenge {
  width: 370px;
  font-family: Lato;
  padding: 10px; }

.dq-title {
  text-align: center;
  border-bottom: 2px solid grey; }

.challenge label {
  display: block;
  padding: 5px; }

.challenge button {
  margin-top: 20px;
  margin-left: 10px;
  color: #008fa6;
  padding: 10px;
  font-size: 16px;
  font-weight: bold; }

.points-container {
  margin-top: 60px;
  margin-left: 30px; }

.points-container h3 {
  font-size: 30px;
  text-align: center;
  font-family: 'Lato'; }

.points {
  padding: 10px;
  background-color: #008fa6;
  text-align: center;
  font-size: 36pt;
  font-family: 'Lato';
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 2px solid grey;
  margin-left: 130px;
  font-weight: bold; }

.feedback {
  text-align: right;
  padding-right: 85px;
  font-size: 18pt;
  font-family: Arial;
  font-style: italic;
  color: #008fa6;
  height: 20pt;
  margin-top: -45px; }

/********* Nav bar *************/
.nav {
  height: 50px;
  background-color: #354041; }

.nav > div {
  position: relative;
  height: 50px; }

.fa-leanpub {
  color: #fff;
  font-size: 18pt; }

#logo {
  text-decoration: none;
  font-size: 22pt;
  color: #fff;
  font-family: Lato;
  font-weight: bold;
  margin-left: 10px; }

.login {
  text-decoration: none;
  font-size: 12pt;
  color: #fff;
  font-family: Lato;
  /*position: absolute;
  top: 5px;
  right: 150px;*/
  float: right;
  margin: 12px; }

/****** panels ******/
.panel > div {
  width: 960px;
  margin: 0 auto; }
